body {
  margin: 0;
  padding: 0;
}
h1 {
  display: block;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0;
  width: 100%;
}
.about {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 0.3em;
  border-left: 0.2em solid #9e9e9e;
  margin: 0.2em auto;
  opacity: 0.4;
  font-weight: bolder;
}
.zufly {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
}
.zufly div {
  position: relative;
  display: inline-block;
  float: left;
  clear: both;
  left: 50%;
  transform: translateX(-50%);
  margin: 1em;
  text-align: center;
  padding: 1em;
}
.unicode {
  border: 0.2em solid green;
}
.zawgyi {
  border: 0.2em solid red;
}
code {
  display: block;
  text-align: center;
}

h2 {
  display: inline-block;
  background: green;
  color: white;
  padding: 0.5em;
  border-radius: 0.4em;
  position: relative;
  float: left;
  clear: both;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 4px 1px grey;
  cursor: pointer;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
